* {
    box-sizing: border-box;
}
body {
    background-color: black;
}
header {
    background-color: #ffd683;
    padding: 30px;
    margin: 0;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    max-width: 65%;
    margin: 0 auto;
    border: 2px solid white;
}
nav {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}
.nav {
    margin: 0;
}
.nav>a>li {
    list-style-type: none;
    color: white;
}
.nav>a, .nav>a>li {
    display: inline-block;
    padding: 10px;
}
.nav>a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
main {
    background-color: rgb(248, 228, 192);
    margin: 0 auto;
    overflow: hidden;
}
main>section {
    border: 2px solid black;
    margin: 30px 40px;
    padding: 10px;
    width: 60%;
}
.designOne {
    background-color: rgb(104, 255, 255);
}
.designTwo {
    background-color: rgb(166, 255, 139); 
}
h1, h2, h3 {
    margin: 0
}
p {
    margin-top: 6px;
    margin-bottom: 0;
}
aside {
    float: right;
    background-color: rgba(255, 255, 255, 0.683);
    border: 2px solid black;
    margin: 30px 40px;
    padding: 10px;
    width: 30%;
}
footer {
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 30px;
}
address>a {
    color: white;
}